{% extends "base.html" %}
{% block title %}RustDesk WebUI{% endblock %}
{% block legend_name %}Installeer Bestanden{% endblock %}
{% block content %}
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md15">
      <div class="layui-card">
        <div class="layui-card-header">Installeer Bestanden voor {{u.username}}</div>
        <div class="layui-card-body">
          <table class="layui-table">
            <thead>
              <tr>
                <th>Windows EXE</th>
                <th>Windows Installer</th>
                <th>Linux Installer</th>
                <th>Mac Installer</th>
                <th>QR code voor SmartPhone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <a href="/static/configs/Remote.exe">Download</a><br><br><button onclick="copyToClipboard(this)" data-content="https://yourdomain/static/configs/Remote.exe">Copy Link</button></td>
                <td> <a href="/static/configs/install.bat">Download bat</a><br><br><button onclick="copyToClipboard(this)" data-content="https://yourdomain/static/configs/install.bat">Copy Link</button><br>
                <br><a href="/static/configs/Remote.ps1">Download Powershell</a><br><br><button onclick="copyToClipboard(this)" data-content="https://yourdomain/static/configs/Remote.ps1">Copy Link</button></td>
                <td> <a href="/static/configs/install-linux.sh">Download</a><br><br><button onclick="copyToClipboard(this)" data-content="https://yourdomain/static/configs/install-linux.sh">Copy Link</button></td> </td>
                <td> <a href="/static/configs/install-linux.sh">Download</a><br><br><button onclick="copyToClipboard(this)" data-content="https://yourdomain/static/configs/install-mac.sh">Copy Link</button></td> </td>
            <td> <img src="/static/configs/qrcode.png"> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          <div class="layui-col-md15">
      <div class="layui-card">
        <div class="layui-card-header">Setups voor {{u.username}}</div>
        <div class="layui-card-body">
          <table class="layui-table">
            <thead>
              <tr>
                <th>Beveiligde Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> WRITE YOUR SECURITY CODE HERE <button onclick="copyToClipboard(this)" data-content="WRITE YOUR SECURITY CODE HERE">Copy</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   <div class="layui-col-md15">
      <div class="layui-card">
        <div class="layui-card-body">
          <table class="layui-table">
            <thead>
              <tr>
                <th>API URL</th>
                <th>Sleutel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> https://yourdomain <button onclick="copyToClipboard(this)" data-content="https://yourdomain">Kopieer</button></td>
                <td> YOUR KEY HERE= <button onclick="copyToClipboard(this)" data-content="YOUR KEY HERE">Kopieer</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
